NEXT_PUBLIC_SUPABASE_URL=
https://iasnhaurchqbciaeofck.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlhc25oYXVyY2hxYmNpYWVvZmNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5ODE5MDMsImV4cCI6MjA5NTU1NzkwM30.0NJ6t1eDbr1C0X0SUnRnduf0BzmfBEhsCa9W79j3x4g
